
#user-desktop-component {
    margin: 0 5px;

    & .user-image {
        margin-right: 5px;

        & > span {
            width: 3.125rem;
            height: 3.125rem;
            line-height: 3.125rem;
            font-size: 1.563rem;
        }
    }

    & .user-name {
        font-weight: bold;
    }
}
