
/*
 * Profile
 */
#profile-page {
    &-desktop {

        .avatar-row {
            margin-bottom: 20px;
        }

        .avatar-uploader {
            height: 170px;
            width: 50%;
            overflow: hidden;

            & > div {
                width: 100%;
                height: 100%;
                display: flex;

                span {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

/*
 * Login
 */
#login-page {

    &-desktop {
        // Logotype
        .logo {
            max-width: 21.875rem;
            margin-top: 3.125rem;
            margin-bottom: 1.875rem;
        }

        // Card
        .card {
            max-width: 21.875rem;
        }

        // Form
        .form {
            .ant-row {
                margin-bottom: 15px;
            }

            .button-submit {
                width: 100%;
            }
        }
    }

    &-mobile {
        height: 100%;
        min-height: 100%;
        background: $background-login-mobile;
        padding: 1.25rem;

        .spin {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0, 0.8);

            .ant-spin-text {
                margin-top: 15px;
                font-size: 1rem;
            }
        }

        .alert {
            margin-bottom: 15px;
            text-align: left;
        }

        & > .content {
            width: 100%;
            height: 100%;
            min-height: 100%;
            display: grid;
            justify-content: stretch;
            align-content: start;
            grid-template-columns: auto;
            grid-template-rows: [logo-start] 1fr [logo-end] auto [form-end];
            grid-template-areas:
                "logo"
                "form";

            & > .logo-container {
                margin: 3.125rem auto;

                img {
                    width: 100%;
                    max-width: 25rem;
                    padding: 0 1.875rem;
                }
            }

            & > .form {

                .button-submit {
                    width: 100%;
                }

                .item-forgot {
                    margin: 20px;
                    text-align: center;

                    a {
                        font-size: 1rem;
                        color: $color-text-white;

                        &:active {
                            color: rgba($color-text-white, 0.7);
                        }
                    }
                }
            }
        }
    }
}

.drawer-mobile-forgot-password {
    .ant-drawer-content-wrapper{
        top: 0;
        bottom: 0;
        height: unset !important;

        .ant-drawer-wrapper-body {
            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr;

            .ant-drawer-body {
                padding: 0;
                overflow: auto;

                & > div {
                    height: 100%;
                    padding: 24px;

                    .ant-spin {
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        max-height: unset !important;

                        .ant-spin-text {
                            margin-top: 15px;
                            font-size: 1rem;
                        }
                    }

                    .ant-spin-container {
                        height: 100%;
                        display: grid;
                        grid-template-rows: auto 1fr auto;

                        .send-code {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1rem;
                        }

                        .buttons {
                            margin-top: 24px;

                            button:nth-child(2) {
                                margin-top: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
 * Modules
 */
#modules-page {
    padding: $default-mobile-padding;

    .module-button {
        margin: 5px 0;
    }
}

/*
 * Employees
 */
#employee-page {

    &-desktop {
        .new-employee {
            padding: 1rem;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: $background-form;

            .ant-row {
                margin-bottom: 0;
            }
        }
    }

    &-mobile {
        display: grid;
        grid-template-rows: 1fr auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        .content-area {
            padding: $default-mobile-padding;
            overflow-y: auto;
        }

        .new-employee {
            padding: 1.25rem;
            background-color: $background-footer-layout;
            position: sticky;
            bottom: $size-footer-navbar-height;
        }
    }
}

.employee-page-desktop-drawer {
    &-edit {
        form {
            .ant-row {
                margin-bottom: 0;
            }

            .ant-btn {
                margin-bottom: 8px;
            }
        }
    }
}

/*
 * Materials
 */
#material-page-desktop {

    .new-material {
        padding: 1rem;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: $background-form;

        .ant-row {
            margin-bottom: 0;
        }

        .ant-collapse-content {
            max-height: 300px;
            overflow-y: auto;

            .ant-row-flex {
                margin-bottom: 5px;
                padding: 0 5px;
            }

            .ant-input-number {
                width: 100%;
            }

            .delete-material-button {
                margin: 0 3px 0 0;
                width: 1.375rem;
                height: 1.375rem;

                i,
                svg {
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }

            .add-material-button {
                margin-top: 15px;
            }
        }

        .ant-btn {
            margin-top: 8px;
        }
    }


}

.material-page-desktop-drawer {
    &-edit {
        form {
            .ant-row {
                margin-bottom: 0;
            }

            .ant-btn {
                margin-top: 8px;
            }

            .ant-collapse-content {
                max-height: 300px;
                overflow-y: auto;

                .ant-row-flex {
                    margin-bottom: 5px;
                    padding: 0 5px;
                }

                .ant-input-number {
                    width: 100%;
                }

                .delete-material-button {
                    margin: 0 3px 0 0;
                    width: 1.375rem;
                    height: 1.375rem;

                    i,
                    svg {
                        width: 0.75rem;
                        height: 0.75rem;
                    }
                }

                .add-material-button {
                    margin-top: 15px;
                }
            }
        }
    }
}

/*
 * Budget
 */
#budget-page-desktop {

    .ant-row {
        margin-bottom: 10px;
    }

    .ant-row-flex {
        margin-bottom: 5px;
    }

    .resume-job-row {
        background-color: #fafafa;
        margin: -16px -16px 16px -16px !important;
        padding: 16px;
        border-bottom: 1px solid #d9d9d9;
    }

    .job-content {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent; /* make scrollbar transparent */
    }

    .bottom-bar-button {
        position: sticky;
        bottom: 0;
        background-color: rgba(255,255,255,0.9);
        padding: 10px 0;
        margin-bottom: 0 !important;
    }
}

/*
 * Attendance
 */
#attendance-page {

    &-desktop {
        .new-attendance {
            padding: 1rem;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: $background-form;

            .ant-row {
                margin-bottom: 0;
            }
        }
    }
}

#document-attendance-page {

    &-desktop {
        .filter,
        .options {
            padding: 1rem;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: $background-form;

            .ant-row {
                margin-bottom: 0;
            }
        }
    }
}
